

  <div class="">
  <div class="parallax" >
<!-- <img src="assets/images/undraw_950AF8.svg" class="mx-auto" height="350px"> -->
<!-- <img src="assets/images/shop.jpg" style="margin-top:10px"> -->
<div style="visibility: hidden;height: 40vh;">Hitendra SIngh</div>
<div class="container shop-text "> A New Way of shopping</div>
</div>

</div>
<div >
<div class="row">
  <div class="col-sm-6 col-xs-12 text-center" >
    <!-- <img src="assets/images/shop.jpg" style="margin-top:10px"> -->
    <img src="assets/images/undraw_950AF8.svg" class="mx-auto" height="350px">
  </div>
 <div class="col-sm-6 col-xs-12 text-dark">
   <h4 class="title-text my-4 ">Shop & Go</h4>
   <p class="text-para">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Neque volutpat ac tincidunt vitae semper quis. Volutpat odio facilisis mauris sit amet. Pellentesque dignissim enim sit amet venenatis. Pellentesque habitant morbi tristique senectus et netus et malesuada. Amet nisl purus in mollis nunc sed. Purus faucibus ornare suspendisse sed nisi lacus. At auctor urna nunc id. Pharetra et ultrices neque ornare aenean euismod elementum nisi quis. In egestas erat imperdiet sed euismod nisi porta. Arcu vitae elementum curabitur vitae.</p>

   <p class="text-para"> Gravida rutrum quisque non tellus orci. Eget lorem dolor sed viverra ipsum nunc aliquet bibendum enim. Faucibus pulvinar elementum integer enim. Malesuada fames ac turpis egestas integer eget. Turpis nunc eget lorem dolor sed viverra ipsum nunc. Ipsum dolor sit amet consectetur adipiscing elit ut. Vestibulum morbi blandit cursus risus at ultrices mi. Lacinia at quis risus sed vulputate odio ut. Turpis egestas pretium aenean pharetra magna ac placerat vestibulum. Ut sem nulla pharetra diam sit amet. Etiam sit amet nisl purus in. Tempus iaculis urna id volutpat lacus laoreet non curabitur. Enim lobortis scelerisque fermentum dui faucibus. Sociis natoque penatibus et magnis dis parturient montes nascetur ridiculus.</p>
 </div>

</div>
</div>
