.image-container {
  min-height: 40vh;

}
.text-data{
  background-color: #950AF8;
 height: 100%;
  max-width: 95vw;
}
.shop-text{
  text-align: center;
  font-size: 3rem;
  color: white;
  font-family: fantasy;
  border-bottom: 2px solid #ffffff;

}
.parallax{
  height: 60vh;
  background: url("../../assets/images/shop.jpg") no-repeat  ;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.text-center{
  text-align: center !important;
}

.text-para{
  padding: 0px 15px
}
img {
max-height: 50vh !important;

}
@media screen and (max-width:460px){
  .title-text{
    padding-left: 0;
    text-align: center;
  }
  img{
    max-width: 100vw !important;
  }
}
@media screen and (max-width:760px) {
  img{
    max-width: 50vw !important;
  }
}
